*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}
body{
    font-family: 'Yusei Magic', sans-serif;
    background-image: linear-gradient(120deg,rgb(255, 242, 123),rgb(255, 153, 0));
    min-height: 100vh;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}
form input,form button{
    font-size: 1.5rem;
    padding: 0.3rem;
    border: none;
    background-color: white;
}
form button{
    color: rgb(211, 125, 54);
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
form button:hover{
    color: white;
    background-color: rgb(211, 125, 54);
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 40%;
    list-style: none;
}
.todo{
    display: flex;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    margin: 0.5rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
}
.check-button, .delete-button{
    background-color:rgb(7, 177, 7);
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 0.8rem;
    cursor: pointer;
}
.delete-button{
    background-color: rgb(255, 65, 65);
}
.todo-item{
    padding-left: 0.5rem;
}
.fa-trash,.fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.4;
}
.fall{
    transform: translateY(8rem) rotateZ(25deg);
    opacity: 0;
}